@import "../../mixins.scss";
.singlePost {
  width: 100%;
  // height: 100vh;
  max-width: 1350px;
  margin: 0px auto;
  display: flex;
  // margin-bottom: 100px;
  // position: relative;
  font-family: Poppins;
  @include md{
    flex-direction: column;
  }

  .spLeft {
    flex: 3;
    height: 100%;
    margin-bottom: 20px;
    @include md{
      margin-bottom: 100px;
      flex: none;
      // height: auto;
    }
  
    // overflow-y: scroll;

    .infoSection {
      margin-top: 20px;
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .infoLeft {
        flex: 1;
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        h2 {
          font-size: 20px;
          font-weight: 600;
        }
        .spLocation {
          display: flex;
          align-items: center;
          // justify-content: center;
          gap: 2px;
          font-size: 16px;
          span {
            font-size: 20px;
          }
        }
        .spPrice {
          width: max-content;
          font-size: 20px;
          padding: 4px 10px;
          border-radius: 4px;
          background-color: blanchedalmond;
        }
      }
      .infoRight {
        display: flex;
        // flex: 1;
        flex-direction: column;
        padding: 5px 20px;
        background-color: blanchedalmond;

        border-radius: 5px;
        .spUser {
          width: 65px;
          height: 65px;
          object-fit: cover;
       
          border-radius: 999px;
        }
        span{
          text-align: center;
        }
        text-transform: capitalize;
      }
    }
    .spPara {
      width: 95%;
      font-size: 15px;
      line-height: 20px;
      text-align: justify;
      margin-top: 20px;
    }
  }

  .spRight {
    flex: 2;
    // height: 100%;
    background-color: #fcf5f3;
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: gray;
      border-radius: 999px;
    }
    @include sm{
      flex: none;
      // margin-top: 50px;
    }
    .spWrapper {
      width: 100%;
      height: 100%;
      padding: 0px 20px;
      @include sm{
        padding: 0px 0px;
       
      }

      p {
        font-size: 18px;
        font-weight: 500;
      }
      .generalBox {
        width: 100%;
        background-color: whitesmoke;
        padding: 10px 10px;
        margin: 0px 0px 20px 0px;
        .utilities,
        .pet,
        .fee {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          line-height: 1;
          margin-top: 10px;

          img {
            width: 30px;
          }
          .utilityText,
          .petText,
          .feeText {
            h4 {
              font-size: 14px;
              line-height: 1;
              font-weight: 600;
            }
            span {
              font-size: 12px;
            }
          }
        }
      }
      .sizeBox {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 0px 20px 0px;
        background-color: whitesmoke;
        .size {
          padding: 10px 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          img {
            width: 20px;
          }
        }
      }
      .nearbyBox {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 0px 20px 0px;
        background-color: whitesmoke;
        @include sm{
          flex-direction: column;
          align-items: flex-start;
         
        }
        .feature {
          padding: 10px 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          img {
            width: 30px;
          }
          .featureText{
            span{
              font-size: 15px;
              font-weight: 600;
            }
            p{
              font-size: 12px;
            }
          }
        }
      }
      .mapBox{
        width: 100%;
        height: 40vh;
        margin: 0px 0px 20px 0px;
        z-index: 1;
        position: relative;
      }
      .spButtons{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        .messageBtn, .savePostBtn{
          display: flex;
          align-items: center;
          background-color: white;
          gap: 5px;
          padding: 8px 10px;
          border-radius: 5px;
          border: 1px solid lightblue;
          span{
            font-family: Poppins;
            // font-family: Inter;
            font-size: 15px;
          }
       
        }
       
      }
    }
  }
}
